<header>
    <h1>
        Welcome to my app, 
        
    </h1>
    <h2>
        Using Rails <%= Rails.version %>
    </h2>
    
</header>

<section>
    <p>
        Future home of our Dashboard 
    </p>
</section>